.login-screen {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
  padding-top: 40vh;

  .title {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 106px;
  }

  h1 {
    color: white;
  }

  .blockBG {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    background-color: #04070a;
    opacity: 0.95;
    box-shadow: 21px 20px 4px rgba(0, 0, 0, 0.25);
    input {
      margin-bottom: 30px;
      max-width: 515px;
      margin-left: auto;
      margin-right: auto;
    }
    input[type="email"],
    input[type="password"],
    input:focus {
      border: none;
      background-color: transparent;
      color: rgb(255, 255, 255);
      padding-left: 3px;
      padding-right: 3px;
      font-size: 17px;
      font-weight: 400;
      border-bottom: #a355aa 1px solid;

      &:focus {
        outline: none;
      }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px #04070a inset !important;
    }

    /*Change text in autofill textbox*/
    input:-webkit-autofill {
      -webkit-text-fill-color: rgb(255, 255, 255) !important;
    }

    .register-link {
      margin-top: 15px;
      margin-bottom: 15px;
      color: #a355aa;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
