.exchange-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  color: black;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 1200px) {
  .exchange-card {
    width: 100%;
    margin-left: 5px;
  }
}
